@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    @apply overflow-x-hidden;
    max-width: 100vw;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-primary font-sans antialiased cursor-none;
  }
}

@layer utilities {
  .container-width {
    @apply max-w-5xl mx-auto px-6;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}